
/* header */

.header{
    background: #000;
}

.header__inner{
    padding: 20px 15px;
    max-width: 1230px;
    margin: 0 auto;
    /* background: red; */
}

.header__logo{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

/* main */

.quiz__content{
    margin: 0 auto;
    max-width: 1230px;
    padding: 60px 15px;
}

.question{
    margin: 0 auto;
    padding: 10px 20px;
    width: 550px;
    border-radius: 3px;
    background: #000;
    text-align: center;
}

.question__text{
    color: #fff;
    text-align: left;
    /* background: green; */
}

